In [6]:
#Importando a biblioteca pandas
import pandas as pd

In [7]:
#Leitura dos arquivos
df_aracaju = pd.read_excel('/content/data_sets/Aracaju.xlsx')
df_fortaleza = pd.read_excel('/content/data_sets/Fortaleza.xlsx')
df_natal = pd.read_excel('/content/data_sets/Natal.xlsx')
df_recife = pd.read_excel('/content/data_sets/Recife.xlsx')
df_salvador = pd.read_excel('/content/data_sets/Salvador.xlsx')

In [8]:
#Unindo todos os arquivos
df = pd.concat([df_aracaju, df_fortaleza, df_natal, df_recife, df_salvador])

In [10]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [12]:
#Exibindo as 5 últimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [29]:
#Exemplos aleatórios do dataframe
df.sample(5)

        Cidade       Data  Vendas LojaID  Qtde
161   Salvador 2019-01-02    5.80   1036     1
37    Salvador 2019-01-01   18.31   1036     3
139  Fortaleza 2019-03-02  141.16    980     7
67     Aracaju 2018-01-01   78.13   1521     4
234      Natal 2019-01-03   48.39   1035     2

In [16]:
#Verificando o tipo de dado das colunas
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [18]:
#Alterando o tipo de dado da coluna LojaID
df['LojaID'] = df['LojaID'].astype('object')

In [19]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [30]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [31]:
#Criando coluna de receita onde será o resultado da coluna Vendas x Qtde
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [32]:
df.head(10)

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08
5  Aracaju 2018-01-01  156.20   1522     1   156.20
6  Aracaju 2018-01-01   35.50   1522     2    71.00
7  Aracaju 2019-01-01  172.22   1522     6  1033.32
8  Aracaju 2019-01-01   12.16   1523     1    12.16
9  Aracaju 2019-01-01  149.36   1523     3   448.08

In [39]:
#Valor máximo da receita obtida
df['Receita'].max()

3544.0

In [40]:
#Valor Mínimo da receita obtida
df['Receita'].min()

3.34

In [42]:
#Top 5 lojas com maiores receitas
df.nlargest(5, ['Receita'])

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0

In [43]:
#Top 5 lojas com menores receitas
df.nsmallest(5,['Receita'])

       Cidade       Data  Vendas LojaID  Qtde  Receita
118   Aracaju 2018-01-01    3.34   1522     1     3.34
65     Recife 2019-01-01    4.01    981     1     4.01
92      Natal 2019-01-02    4.57   1035     1     4.57
92   Salvador 2019-01-01    4.57   1035     1     4.57
95      Natal 2019-01-02    5.13   1035     1     5.13

In [44]:
#Agrupamento de receita total por cidade
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [47]:
#Ordenando o dataframe pela coluna Receita
df.sort_values('Receita', ascending=False)

       Cidade       Data  Vendas LojaID  Qtde  Receita
7       Natal 2019-03-18  886.00    853     4  3544.00
55      Natal 2019-01-08  859.00    854     4  3436.00
51      Natal 2018-01-21  859.00    852     4  3436.00
30      Natal 2018-10-02  856.00    853     4  3424.00
41      Natal 2018-05-20  835.00    852     4  3340.00
..        ...        ...     ...    ...   ...      ...
95      Natal 2019-01-02    5.13   1035     1     5.13
92      Natal 2019-01-02    4.57   1035     1     4.57
92   Salvador 2019-01-01    4.57   1035     1     4.57
65     Recife 2019-01-01    4.01    981     1     4.01
118   Aracaju 2018-01-01    3.34   1522     1     3.34

[894 rows x 6 columns]